
@import url('https://fonts.googleapis.com/css?family=Voltaire');

#container{
  left: 0px;
  top: 0px;
  position: absolute;
  width:100%;
  height: 100%;
  background-color: #dbe6e6;
  /* overflow: hidden; */
}

#gameover{
  visibility: hidden;
  position:absolute;
  font-family:'Voltaire', sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  font-size:120px;
  text-align:center;
  color:#f0630c;
  left:50%;
  top:25%;
  width:100%;
  user-select: none;
  opacity:1;
  transform : translate(-50%,-50%);
  transition: all 500ms ease-in-out;
}

#score{
  position:absolute;
  left:50%;
  top:50px;
  transform:translate(-50%,0%);
  user-select: none;  
}

.label{
  position:relative;
  font-family:'Voltaire', sans-serif;
  text-transform:uppercase;
  color:#ffa873;
  font-size:12px;
  letter-spacing:2px;
  text-align:center;
  margin-bottom:5px;
}


#scoreValue{
  position:relative;
  text-transform:uppercase;
  color:#5f9042;
  font-size:40px;
  font-family:'Voltaire';
  text-align:center;
}

#pause{
  position: absolute;;
  text-transform:uppercase;
  color:#5974ee;
  font-size:100px;
  font-family:'Voltaire';
  text-align:center;
  top: 50%;
  left:50%;
  visibility: hidden;
  transform : translate(-50%,-50%);
  transition: all;
}
